In [1]:
import pandas as pd
import numpy as np

 Consumo de alcohol

In [2]:
file = open('C:/Users/forqu/OneDrive/Documentos/IronHack/Github/Projetos/History of Rock(1950-2020)/Data/Alcohol, record per capital (15+) consuption (World Health organization).csv', 'rb')
file_lines = file.readlines(10000)
for i in range(5):
    print(file_lines[i].decode('UTF-8'))
file.close()

IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,IsLatestYear,Dim1 type,Dim1,Dim1ValueCode,Dim2 type,Dim2,Dim2ValueCode,Dim3 type,Dim3,Dim3ValueCode,DataSourceDimValueCode,DataSource,FactValueNumericPrefix,FactValueNumeric,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified

SA_0000001400,"Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol)",numeric,EMR,Eastern Mediterranean,Country,AFG,Afghanistan,Year,2019,true,Beverage Types,Beer,SA_BEER,,,,,,,GISAHAFG,Data source,,0,,,0,,0,0 [0 – 0],,,EN,2021-04-29T03:00:00.000Z

SA_0000001400,"Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol)",numeric,EMR,Eastern Mediterranean,Country,AFG,Afghanistan,Year,2019,true,Beverage Types,Wine,SA_WINE,,,,,,,GISAHCUB,Data source,,0,,,0,,0,0 [0 – 0],,,EN,2021-04-29T03:00:00.000Z

SA_0000001400,"Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol)",numeric,EMR,Eastern Mediterranean,Country,AFG,Afghanistan,Year,2019,true,Beverage Types,Other alcoholic beverages,SA_OTHER_ALCOHOL,,,,,,,GISAHNIU,Data source,,0,,,0,,0,0 [0 – 0],,,EN,2021-04-29T03:00:00.000Z

SA_0000001400,"Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol)",numeric,AFR,Africa,Country,DZA,Algeria,Year,2019,true,Beverage Types,Other alcoholic beverages,SA_OTHER_ALCOHOL,,,,,,,GISAHPNG,Data source,,0,,,0,,0,0 [0 – 0],,,EN,2021-04-29T03:00:00.000Z

In [10]:
Alcoholconsuption=pd.read_csv('C:/Users/forqu/OneDrive/Documentos/IronHack/Github/Projetos/History of Rock(1950-2020)/Data/Alcohol, record per capital (15+) consuption (World Health organization).csv', sep = ',', decimal = '.', encoding = 'UTF-8')
alcoholconsuption = Alcoholconsuption[['ParentLocation','Location','Period','Dim1','FactValueNumeric','FactValueNumericLow', 'FactValueNumericHigh', 'Value' ]]
alcoholconsuption = alcoholconsuption.rename(columns={"Parentlocation":"Region","Location": "Country", "Period": "Year", "Dim1" : "Alcohol_type", "FactValueNumeric":"Alcohol_consuption_lts","FactValueNumericLow":"Low_alcohol_consuption_lts", "FactValueNumericHigh": "Hihg_alcohol_consuption_lts"})
alcoholconsuption

C:\Users\forqu\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (29) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ParentLocation,Country,Year,Alcohol_type,Alcohol_consuption_lts,Low_alcohol_consuption_lts,Hihg_alcohol_consuption_lts,Value
0,Eastern Mediterranean,Afghanistan,2019,Beer,0.00,0.0,0.0,0 [0 – 0]
1,Eastern Mediterranean,Afghanistan,2019,Wine,0.00,0.0,0.0,0 [0 – 0]
2,Eastern Mediterranean,Afghanistan,2019,Other alcoholic beverages,0.00,0.0,0.0,0 [0 – 0]
3,Africa,Algeria,2019,Other alcoholic beverages,0.00,0.0,0.0,0 [0 – 0]
4,Europe,Andorra,2019,Other alcoholic beverages,0.00,0.0,0.0,0 [0 – 0]
...,...,...,...,...,...,...,...,...
47789,Americas,United States of America,1960,Spirits,3.26,NaN,NaN,3.26
47790,Americas,United States of America,1960,Beer,3.75,NaN,NaN,3.75
47791,Europe,Austria,1960,Beer,4.70,NaN,NaN,4.7
47792,Americas,United States of America,1960,All types,7.83,NaN,NaN,7.83
47793,Europe,Austria,1960,All types,8.91,NaN,NaN,8.91

In [23]:
alcoholconsuption.groupby('Year')['Year'].count()

Year
1960      8
1961    619
1962    632
1963    661
1964    661
1965    661
1966    666
1967    666
1968    666
1969    666
1970    670
1971    670
1972    669
1973    674
1974    674
1975    674
1976    666
1977    670
1978    666
1979    670
1980    750
1981    755
1982    760
1983    762
1984    763
1985    768
1986    770
1987    775
1988    779
1989    774
1990    865
1991    869
1992    887
1993    895
1994    895
1995    895
1996    894
1997    894
1998    893
1999    902
2000    915
2001    915
2002    915
2003    915
2004    915
2005    925
2006    935
2007    935
2008    935
2009    935
2010    940
2011    940
2012    940
2013    940
2014    940
2015    940
2016    940
2017    940
2018    940
2019    940
Name: Year, dtype: int64

Deaths alcohol by age

In [5]:
file = open('C:/Users/forqu/OneDrive/Documentos/IronHack/Github/Projetos/History of Rock(1950-2020)/Data/deaths-attributed-to-alcohol-use-by-age.csv', 'rb')
file_lines = file.readlines(10000)
for i in range(5):
    print(file_lines[i].decode('latin-1'))
file.close()

Entity,Code,Year,Deaths - Alcohol use - Sex: Both - Age: Under 5 (Number),Deaths - Alcohol use - Sex: Both - Age: 70+ years (Number),Deaths - Alcohol use - Sex: Both - Age: 50-69 years (Number),Deaths - Alcohol use - Sex: Both - Age: 5-14 years (Number),Deaths - Alcohol use - Sex: Both - Age: 15-49 years (Number)

Afghanistan,AFG,1990,,-1.232956300822979,159.04498244362145,0.6385758543491409,198.07870486400262

Afghanistan,AFG,1991,,-9.539797075377507,134.0888083703571,0.6311983910085259,195.4182515455558

Afghanistan,AFG,1992,,-17.965002061538605,107.2565425162102,0.6973421420969111,203.26813362016617

Afghanistan,AFG,1993,,-24.962000080906414,83.88873473112277,0.8252449233497208,218.37777875272883

In [15]:
alcoholdeath= pd.read_csv('C:/Users/forqu/OneDrive/Documentos/IronHack/Github/Projetos/History of Rock(1950-2020)/Data/deaths-attributed-to-alcohol-use-by-age.csv', sep = ',', decimal = '.', encoding = 'latin-1')
alcoholdeath= alcoholdeath.rename(columns={"Entity":"Country","Code":"Country_cod","Deaths - Alcohol use - Sex: Both - Age: Under 5 (Number)":"Deaths_Under_5", "Deaths - Alcohol use - Sex: Both - Age: 70+ years (Number)": "Deaths_70+_years", "Deaths - Alcohol use - Sex: Both - Age: 50-69 years (Number)":"Deaths_50-69_years","Deaths - Alcohol use - Sex: Both - Age: 5-14 years (Number)":"Deaths_5-14_years","Deaths - Alcohol use - Sex: Both - Age: 15-49 years (Number)":"Deaths_15-49_years"})
alcoholdeath

,Country,Country_cod,Year,Deaths_Under_5,Deaths_70+_years,Deaths_50-69_years,Deaths_5-14_years,Deaths_15-49_years
0,Afghanistan,AFG,1990,NaN,-1.232956,159.044982,0.638576,198.078705
1,Afghanistan,AFG,1991,NaN,-9.539797,134.088808,0.631198,195.418252
2,Afghanistan,AFG,1992,NaN,-17.965002,107.256543,0.697342,203.268134
3,Afghanistan,AFG,1993,NaN,-24.962000,83.888735,0.825245,218.377779
4,Afghanistan,AFG,1994,NaN,-30.838953,62.871469,0.884239,217.774814
...,...,...,...,...,...,...,...,...
6463,Zimbabwe,ZWE,2013,NaN,693.610019,2697.983429,8.255216,3978.030287
6464,Zimbabwe,ZWE,2014,NaN,680.263028,2643.759805,8.263859,3869.847618
6465,Zimbabwe,ZWE,2015,NaN,679.470620,2634.610126,8.269672,3852.269669
6466,Zimbabwe,ZWE,2016,NaN,684.563339,2642.607539,8.436222,3838.990911
6467,Zimbabwe,ZWE,2017,NaN,697.961898,2676.021575,8.660342,3845.341395

In [22]:
alcoholdeath.groupby('Year')['Year'].count()

Year
1990    231
1991    231
1992    231
1993    231
1994    231
1995    231
1996    231
1997    231
1998    231
1999    231
2000    231
2001    231
2002    231
2003    231
2004    231
2005    231
2006    231
2007    231
2008    231
2009    231
2010    231
2011    231
2012    231
2013    231
2014    231
2015    231
2016    231
2017    231
Name: Year, dtype: int64

Rock History

In [7]:
file = open('C:/Users/forqu/OneDrive/Documentos/IronHack/Github/Projetos/History of Rock(1950-2020)/Data/history-of-rock-spotify.csv', 'rb')
file_lines = file.readlines(10000)
for i in range(5):
    print(file_lines[i].decode('latin-1'))
file.close()

index,name,artist,release_date,length,popularity,danceability,acousticness,danceability,energy,instrumentalness,key,liveness,loudness,speechiness,tempo,time_signature,valence

0,Smells Like Teen Spirit,Nirvana,1991,5.032,74,0.502,2.55E-05,0.502,0.912,0.000173,1,0.106,-4.556,0.0564,116.761,4,0.72

1,Stairway to Heaven - Remaster,Led Zeppelin,1971,8.047166667,78,0.338,0.58,0.338,0.34,0.0032,9,0.116,-12.049,0.0339,82.433,4,0.197

2,Bohemian Rhapsody - Remastered 2011,Queen,1975,5.905333333,74,0.392,0.288,0.392,0.402,0,0,0.243,-9.961,0.0536,143.883,4,0.228

3,Imagine - Remastered 2010,John Lennon,1971,3.1311,77,0.547,0.907,0.547,0.257,0.183,0,0.0935,-12.358,0.0252,75.752,4,0.169

In [13]:
rockhistory=pd.read_csv('C:/Users/forqu/OneDrive/Documentos/IronHack/Github/Projetos/History of Rock(1950-2020)/Data/history-of-rock-spotify.csv', sep = ',', decimal = '.', encoding = 'latin-1')
rockhistory= rockhistory.rename(columns={"release_date":"Year",})
rockhistory.head()

,index,name,artist,Year,length,popularity,danceability,acousticness,danceability.1,energy,instrumentalness,key,liveness,loudness,speechiness,tempo,time_signature,valence
0,0,Smells Like Teen Spirit,Nirvana,1991,5.032000,74,0.502,0.000025,0.502,0.912,0.000173,1,0.1060,-4.556,0.0564,116.761,4,0.720
1,1,Stairway to Heaven - Remaster,Led Zeppelin,1971,8.047167,78,0.338,0.580000,0.338,0.340,0.003200,9,0.1160,-12.049,0.0339,82.433,4,0.197
2,2,Bohemian Rhapsody - Remastered 2011,Queen,1975,5.905333,74,0.392,0.288000,0.392,0.402,0.000000,0,0.2430,-9.961,0.0536,143.883,4,0.228
3,3,Imagine - Remastered 2010,John Lennon,1971,3.131100,77,0.547,0.907000,0.547,0.257,0.183000,0,0.0935,-12.358,0.0252,75.752,4,0.169
4,4,(I Can't Get No) Satisfaction - Mono Version,The Rolling Stones,1965,3.713550,77,0.723,0.038300,0.723,0.863,0.031700,2,0.1280,-7.890,0.0338,136.302,4,0.931

In [14]:
rockhistory.groupby('Year')['Year'].count()

Year
1956     5
1957    14
1958    12
1959    24
1960     6
        ..
2016    30
2017    45
2018    36
2019    43
2020    96
Name: Year, Length: 65, dtype: int64

Join DataSet

In [19]:
alcoholconsuption_deaths = alcoholconsuption.merge(alcoholdeath,how='right',on=['Country','Year'])
alcoholconsuption_deaths[alcoholconsuption_deaths['Country']=='Brazil']

,ParentLocation,Country,Year,Alcohol_type,Alcohol_consuption_lts,Low_alcohol_consuption_lts,Hihg_alcohol_consuption_lts,Value,Country_cod,Deaths_Under_5,Deaths_70+_years,Deaths_50-69_years,Deaths_5-14_years,Deaths_15-49_years
3134,Americas,Brazil,1990,Other alcoholic beverages,0.00,NaN,NaN,0,BRA,0.0,450.976993,12244.322910,127.082783,23211.866185
3135,Americas,Brazil,1990,Wine,0.30,NaN,NaN,0.3,BRA,0.0,450.976993,12244.322910,127.082783,23211.866185
3136,Americas,Brazil,1990,Spirits,1.99,NaN,NaN,1.99,BRA,0.0,450.976993,12244.322910,127.082783,23211.866185
3137,Americas,Brazil,1990,Beer,2.96,NaN,NaN,2.96,BRA,0.0,450.976993,12244.322910,127.082783,23211.866185
3138,Americas,Brazil,1990,All types,5.25,NaN,NaN,5.25,BRA,0.0,450.976993,12244.322910,127.082783,23211.866185
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3269,Americas,Brazil,2017,Other alcoholic beverages,0.04,0.023,0.056,0.04 [0.023 – 0.056],BRA,0.0,11634.596027,33940.173104,175.502244,37465.211596
3270,Americas,Brazil,2017,Wine,0.24,0.150,0.330,0.24 [0.15 – 0.33],BRA,0.0,11634.596027,33940.173104,175.502244,37465.211596
3271,Americas,Brazil,2017,Spirits,2.12,1.250,2.940,2.12 [1.25 – 2.94],BRA,0.0,11634.596027,33940.173104,175.502244,37465.211596
3272,Americas,Brazil,2017,Beer,3.86,2.380,5.400,3.86 [2.38 – 5.4],BRA,0.0,11634.596027,33940.173104,175.502244,37465.211596
3273,Americas,Brazil,2017,All types,6.25,4.580,8.030,6.25 [4.58 – 8.03],BRA,0.0,11634.596027,33940.173104,175.502244,37465.211596

In [21]:
alcoholconsuption_deaths['Year'].unique()

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017], dtype=int64)